{% load static from staticfiles %}                                                    

<html>
    <title></title>
    <head>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>
    <body>
        <div class="form"> 
            <form action="{% url 'name' %}" method="POST">
              {% csrf_token %}

                <div class = "user">
                    <span><input id="your_name" type="text" class="user" name="zip" placeholder = "Zip Code or City, State" value="{{ zip }}" maxlength="100" required /></span>
                </div>
                <div class = "user">
                    <select class = "user">
                        <option value="10mi">10 Miles</option>
                        <option value="25mi">25 Miles</option>
                        <option value="50mi">50 Miles</option>
                        <option value="100mi">100 Miles</option>
                    </select>
                </div>
                <input type="submit" value="Submit">
            </form>

        </div>

    </body>
</html>

